.login-content {
    --background: #f2f2f7;
  }
  
  .error-msg {
    color: #e53935;
    font-size: 13px;
    margin: -10px 0 10px 8px;
    text-align: left;
  }
  
  .login-header {
    height: 150px;
    // background: linear-gradient(145deg, #5c33cf, #9b4dff);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fff;
    padding-top: 40px;
    text-align: center;
    position: relative;
  
    .login-header-row {
      position: absolute;
      top: 16px;
      right: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 13px;
    }
  
    .header-question {
      color: #fff;
      opacity: 0.9;
      font-weight: 400;
    }
  
    .get-started {
      --color: white;
      font-weight: 500;
      font-size: 13px;
      padding: 4px 10px;
      height: 28px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      text-transform: none;
    }
  
    .app-title {
      margin-top: 60px;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }
  
  .login-card {
    background: white;
    margin: -60px 20px 20px;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    text-align: center;
  
    h2 {
      margin-bottom: 6px;
      font-size: 22px;
      font-weight: 600;
    }
  
    p {
      color: #777;
      font-size: 14px;
      margin-bottom: 20px;
    }
  
    ion-item {
      margin-bottom: 16px;
      --background: #f4f4f4;
      border-radius: 12px;
      --padding-start: 10px;
      --inner-padding-end: 10px;
      --highlight-color-focused: transparent;
    }
  
    ion-label {
      font-size: 14px;
      color: #666;
      margin-bottom: 4px;
    }
  
    ion-input {
      padding: 8px 0;
    }
  
    .gradient-button {
      background: linear-gradient(90deg, #5c33cf, #9b4dff);
      color: white;
      margin-top: 20px;
      border-radius: 10px;
      text-transform: none;
      font-weight: 500;
    }
  
    .forgot-password {
      margin-top: 12px;
  
      a {
        font-size: 13px;
        color: #5c33cf;
        text-decoration: none;
      }
    }
  
    .or-divider {
      display: flex;
      align-items: center;
      margin: 25px 0;
      color: #aaa;
      font-size: 13px;
  
      &::before,
      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background: #e0e0e0;
        margin: 0 10px;
      }
    }
  
    .social-buttons {
      display: flex;
      gap: 12px;
      justify-content: center;
  
      ion-button {
        flex: 1;
        border-radius: 10px;
        --border-color: #ddd;
        --background: #fff;
        --color: #444;
        font-size: 14px;
        font-weight: 500;
      }
  
      ion-icon {
        font-size: 18px;
      }
    }
  }
  .icon-img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
  