table, td {
    border: 1px solid black;

}

table {
    border-collapse: collapse;
    width: 300px;
}

.blue{
    background-color: salmon;
    color:white;
}

.blue, .blue-bg {
    background-color: lightpink;
    color:white;
}

.red-bg{
    background-color: plum ;
    color:white;
}