<ion-content [fullscreen]="true">
  <div class="form-wrapper">
    <form [formGroup]="workoutForm" (ngSubmit)="submitWorkout()" class="add-workout-form">

      <!-- Workout Type -->
      <ion-item>
        <ion-label position="floating">Workout Type</ion-label>
        <ion-select formControlName="workoutType">
          <ion-select-option *ngFor="let workout of workoutTypes" [value]="workout">
            {{ workout }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="workoutForm.get('workoutType')?.touched && workoutForm.get('workoutType')?.invalid" class="error">
        Workout type is required.
      </div>

    <!-- Date Picker (no time) -->
    <ion-item>
      <!-- <ion-label position="floating">Date</ion-label> -->
      <ion-input type="date" formControlName="date"></ion-input>
    </ion-item>
    <div *ngIf="workoutForm.get('date')?.touched && workoutForm.get('date')?.invalid" class="error">
      Date is required.
    </div>

    <!-- Submit -->
    <ion-button expand="block" type="submit" [disabled]="workoutForm.invalid">
      Save Workout
    </ion-button>

  </form>
</div>
</ion-content>
