<ion-content [fullscreen]="true" class="page-background">
  <div id="container">
    <div id="page">
      
<!-- <div id="prev-menu" (click)="goToPreviousMonth()"><span></span></div>
      <div id="menu" (click)="goToNextMonth()"><span></span></div> -->

      <div class="month-nav">
        <ion-icon name="chevron-back-outline" class="nav-icon" (click)="prevMonth()"></ion-icon>
        <ion-icon name="chevron-forward-outline" class="nav-icon" (click)="nextMonth()"></ion-icon>
      </div>
      
      <h2>{{ currentMonth }} {{ currentYear }}</h2>
      <table>
        <thead>
          <tr>
            <th>M</th>
            <th>T</th>
            <th>W</th>
            <th>T</th>
            <th>F</th>
            <th>S</th>
            <th class="sunday">S</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="off">25</td>
            <td class="off">26</td>
            <td class="off">27</td>
            <td class="off">28</td>
            <td class="off">29</td>
            <td class="off">30</td>
            <td class="sunday">1</td>
          </tr>
          <tr>
            <td>2</td><td>3</td>
            <td>4</td><td>5</td>
            <td>6</td><td>7</td>
            <td class="sunday">8</td>
          </tr>
          <tr>
            <td>9</td><td>10</td>
            <td>11</td><td >12</td>
            <td>13</td><td>14</td>
            <td class="sunday">15</td>
          </tr>
          <tr>
            <td>16</td><td>17</td>
            <td>18</td><td>19</td>
            <td>20</td><td>21</td>
            <td class="sunday">22</td>
          </tr>
          <tr>
            <td>23</td><td>24</td>
            <td>25</td><td>26</td>
            <td>27</td><td>28</td>
            <td class="sunday">29</td>
          </tr>
          <tr>
            <td>30</td>
            <td class="off">1</td>
            <td class="off">2</td>
            <td class="off">3</td>
            <td class="off">4</td>
            <td class="off">5</td>
            <td class="off">6</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="emoticon">
      <div id="dot"></div>
      <div class="eye left"></div>
      <div class="eye right"></div>
      <div id="mouth"></div>
    </div>
    <div id="message" style="display: inline-block; white-space: nowrap;">No workouts Scheduled</div>

    <div id="plus" (click)="goToAddWorkoutPage()"></div>
  </div>


</ion-content>

